*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:rgb(2, 4, 55);
}
h1{
    color: rgb(125, 196, 237);
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width: 340px;
}
.image_container{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
img{
    width: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(0%);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
@media screen and (min-width: 600px) {
    div.container {
      width: 540px;
    }
  }